<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="/myservice/index.html">WombatOAM</a>
      </li>

      <li>
        <a href="/myservice/installing.html">Installing and Configuring WombatOAM</a>
      </li>

      <li>
        <a href="/myservice/authentication.html">Authentication and Authorization in WombatOAM</a>
      </li>

      <li>
        <a href="/myservice/configuration.html">Configuration</a>
      </li>

      <li>
        <a href="/myservice/dashboard.html">WombatOAM Dashboard</a>
      </li>

      <li>
        <a href="/myservice/reference.html">WombatOAM reference</a>
      </li>

      <li>
        <a href="/myservice/alarms.html">Alarms</a>
      </li>

      <li>
        <a href="/myservice/notifications.html">Notifications</a>
      </li>

      <li>
        <a href="/myservice/metrics.html">Metrics</a>
      </li>

      <li>
        <a href="/myservice/rabbitmq_plugin.html">RabbitMQ plugin</a>
      </li>

      <li>
        <a href="/myservice/release-notes.html">WombatOAM Release Notes</a>
      </li>

    </ul>
  </div>
</div><!--end of sub-nav-->
