---
title: WombatOAM for Pivotal Cloud Foundry
owner: Partner Services / Erlang Solutions
---

This documentation describes the WombatOAM tile for Pivotal Cloud Foundry (PCF).

## <a id="overview"></a> Overview

WombatOAM for PCF is an operations and maintenance (OAM) tool that runs in your PCF deployment to monitor and troubleshoot RabbitMQ and other Erlang and Elixir systems running on PCF. To learn how [WombatOAM](https://www.erlang-solutions.com/products/wombat-oam.html) works, watch the [6-minute intro video](https://youtu.be/iweKeihJ5Qo).

WombatOAM performs two main functions:

- **Monitoring**: Monitors nodes, including collecting and displaying metrics, alarms and logs from the managed nodes. WombatOAM tools allow you to inspect and troubleshoot your system, as well as APIs that you can use to hook into your existing OAM and SaaS tools.
- **Orchestration**: Deploys nodes in the cloud or on specific proprietary clusters.

      <p class="note"><b>Note</b>: Orchestration is currently in Beta. We are looking for users interested in working with us while we bring it to R1.</p>

## <a id="features"></a> Key Features

* Autodiscovery of your node topology

* Alarms and notifications for anomaly detection and early warnings

* Automatic collection of more than a hundred built-in metrics from the Erlang
  runtime system

* Existing plugins can monitor SASL, Lager, Folsom, Exometer, Elarm, Mnesia, Riak, OSmon, and Cowboy OTP applications. More are being implemented, and an API lets you write your own.

* Seamless integration with your OAM infrastructure through plugins for Graphite, Grafana, Cacti, Graylog, Splunk, Zabbix, Datadog, Nagios, and PagerDuty

* A Web dashboard and REST interface

* Visualization of node topology and the ability to inspect specific node
  information

* The dashboard can plot both historic and live metrics.

* Deployment of Erlang nodes in heterogeneous clouds or on specified machines
  that scale to tens of thousands of nodes with no single point of failure

## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>WombatOAM Details:</dt>
<dd><strong>Version</strong>: v2.2.2 </dd>
<dd><strong>Release Date</strong>: November 15, 2016</dd>
<dd><strong>Software component version</strong>: v2.2.2</dd>
<dd><strong>Compatible Ops Manager Version(s)</strong>: 1.5.x, 1.6.x, 1.7.x</dd>
<dd><strong>Compatible Elastic Runtime Version(s)</strong>: 1.4.x, 1.5.x, 1.6.x, 1.7.x</dd>
<dd><strong>Compatible IaaSes</strong>: AWS, GCP, OpenStack, vSphere</dd>
</dl>

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to
`wombat@erlang-solutions.com`.

## <a id='license'></a>License

The WombatOAM tile contains a **trial license** that you can use free of charge for **30 days**. Contact `mladen.miliksic@erlang-solutions.com` to receive the complete WombatOAM documentation and/or to purchase a WombatOAM license. The documentation includes information for each plugin, and a guide to write your own plugins.

