---
title: Installing WombatOAM for PCF
owner: Erlang Solutions
---

This topic describes how to install WombatOAM for PCF.

##<a id='install'></a> Install WombatOAM

1. Download the product file from [Pivotal Network](http://network.pivotal.io).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a
   Product** to upload the product file.

1. Click **Add** next to the uploaded WombatOAM tile in the Ops Manager
   **Available Products** view to add it to your staging area.
  ![WombatOAM for PCF tile](images/wombat-tile-added.png)

1. Click on the newly added **WombatOAM** tile and review each configuration pane. 
  ![WombatOAM for PCF AZ and Networks](images/wombat-az-net-config.png)

1. If you make any changes to the configuration, click **Save**. 

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes**
   to install WombatOAM tile.

##<a id='logging_in'></a> Log in to the WombatOAM Dashboard

1. From the Wombat OAM tile, select the **Credentials** tab and click on the
   **Links to credentials** link in the **App Credentials** row. 

1. Copy the password and remove the characters that are neither letters nor digits. This is the WombatOAM admin password.  
    <br>
    _Example:_ If the **App Credentials** row shows `axZ3hc89SxQTq7-c3h-fy0JvFl2_2HcL`, your password is `axZ3hc89SxQTq7c3hfy0JvFl22HcL`.

1. Navigate to `https://wombat.YOUR-SYSTEM-DOMAIN` and log in with the user name `admin` and the password from the previous step. 

##<a id='setup'></a> Set Up WombatOAM to Monitor Erlang Nodes

To connect Erlang nodes with WombatOAM, you create a topology in the WombatOAM dashboard as follows:

* Collect information about your nodes
* Add the WombatOAM server as a node, and
* Add each node that you want to monitor.

### <a id="collect-info"></a>Collect Node Information

1. In Ops Manager, click the WombatOAM tile and select the **Status** tab.
  ![WombatOAM for PCF Status tab](images/wombat-status-tab.png)

1. Record the **IP** address of the **WombatOAM** machine.

1. Find the connection details of the RabbitMQ nodes. Connect to one of the
   machines hosting a RabbitMQ server. 

1. Collect the following from the RabbitMQ node:

   1. Erlang node name. This can be found in the
      `/var/vcap/store/rabbitmq/etc/rabbitmq/rabbitmq-env.conf` file. An example
      node name is `rabbit@ee99dadbb7db7a2a11af9da424ba9920`.

   1. Erlang cookie. This is stored in
      `/var/vcap/store/rabbitmq/.erlang.cookie`. The cookie is the same across
      the whole RabbitMQ cluster. An example cookie is
      `5ec65769aa6defb72941a0b70080e63c`.

   1. Erlang network rules. These are found in the
      `/var/vcap/store/rabbitmq/erl_inetrc`. The `host` entries are the relevant
      entries for us, e.g.:

            {host, {10,65,179,56}, ["dddcb00baa7295e1b123f2e412b137e7"]}.
            {host, {10,65,179,57}, ["8fc424a52a3e77c0f5be9e0fd4063a25"]}.

### <a id="add-wombat"></a>Add the WombatOAM Node

Add a node representing WombatOAM, and enable it to connect to your RabbitMQ nodes.

1. From the WombatOAM web dashboard. Select **Topology** > **Add Node**. 
  ![WombatOAM Add Node](images/wombat-dash-add-node.png)

1. Add the WombatOAM server by completing these fields:

    1. **Node name**: `wombat@WOMBAT_MACHINE_IP_ADDRESS`
    1. **Cookie**: `wombat`
    1. **Discover connected nodes**: Leave unselected.

1. Click **Add node**.<br>
   _Result_: The WombatOAM node appear on the left within seconds.

1. Select **Services** > **Execute** and open the WombatOAM node
   family in the left panel. 

1. Click the WombatOAM node name and select **Evaluate Erlang expression**.

1. For all of the network rules you collected from the RabbitMQ node, evaluate the expression `wo_inet_rules:add_host({COMMA-DELIMITED-IP},["RULE-ID"]` using the IP address and ID for the rule.  
<br>
_Example:_

    ```
    wo_inet_rules:add_host({10,65,179,56}, ["dddcb00baa7295e1b123f2e412b137e7"]).
    ```
  _Purpose:_ These rules tell WombatOAM that when asked to connect to a node specified by host name, it should connect to the given IP address rather than try to resolve the host name. WombatOAM stores these rules in a persistent database.

### <a id="add-nodes"></a>Add Erlang Nodes

For each node you want to monitor with WombatOAM, do the following: 

1. From the WombatOAM web dashboard. Select **Topology** > **Add Node**. 

1. Complete these fields:

    1. **Node name**: Specify the Erlang node name that you collected.
    1. **Cookie**: specify the Erlang cookie that you collected.
    1. **Discover connected nodes**: To add a whole cluster in one step, select this box. To add only one node, leave it unselected.

1. Click **Add node**.
   <br>
   _Result_: The managed node appears on the left within seconds. 

Now WombatOAM collects metrics, notifications, and alarms from the Erlang nodes that you added. You can use the WombatOAM dashboard to inspect and perform operations on these nodes.
